<div class="message">
 <%= attachment_image_tag message.user, :image, format: 'jpeg', size: "50x50", class: "rounded-circle", fallback: "no_image.png" %>
  <div class="commonMessage">
    <div>
      <%= message.message %>
    </div>
  </div>

</div>