<% visitor = notification.visitor %>
<% post = notification.post %>

<div class="user-view clearfix ">
  <%= link_to user_path(notification.visitor) do %>
  <%= attachment_image_tag visitor, :image, :fill,100,100, format: "jpeg", fallback: "no_image.jpg", size: "50x50", class:"profile-img-circle" %>
  <% end %>
  <%= notification_form(notification) %>
  <br>
  <% if !@comment.nil? %>
  <p class="moderate-font text-center" style="color: #C0C0C0;"><%= @comment %></p>
  <% end %>
</div>