<% visitor = notification.visitor %>
<% post = notification.post %>


<div>
  <%= link_to user_path(notification.visitor) do %>
  <%= attachment_image_tag visitor, :image, format: 'jpg', size: "50x50", fallback:"no_image.png", class: "rounded-circle" %>
  <% end %>
  <%= notification_form(notification) %>
  <br>
  <% if !@comment.nil? %>
  <p class="moderate-font text-center" style="color: #C0C0C0;"><%= @comment %></p>
  <% end %>
</div>