<% if post.liked_by?(current_user) %>
  <span>
    <div class="mouse">
      <%= link_to post_likes_path(post), method: :delete, remote: true do %>
        <i class="fas fa-heart like-btn"></i>
      <% end %>
        <span class="word">いいねを解除</span>
    </div>
   </span>
<% else %>
  <span>
    <div class="mouse">
      <%= link_to post_likes_path(post), method: :post, remote: true do %>
        <i class="far fa-heart unlike-btn"></i>
      <% end %>
        <span class="word">いいねを押す</span>
    </div>
  </span>
<% end %>
  <span>
     いいね件数: <%= post.likes.count %>
  </span>