  <div class="row">
  <% if  users.exists? %>
   <% users.each do |user| %>
    <div class="col-3">
      <%= link_to user_path(user), remote: true do %>
      <%= attachment_image_tag user, :image, format: 'jpg', size: "50x50", fallback:"no_image.png", class: "rounded-circle" %>
      <% end %>
      <p><%= user.name  %></p>
      <p><%= user.skill %></p>
    </div>
   <% end %>
  <% else %>
  <div class="col-3">
    投稿はまだありません
  </div>
  <% end %>
  </div>