<h2 class="text-center m-5">メッセージ中のクリエイター</h2>
  <div class ="row">
  <% @anotherEntries.each do |room| %>
    <div class="col-3 text-center">
      <%= link_to chat_path(room.room.id) do %>
        <%= room.user.name %><br>
      <% end %>
      <%= Message.find_by(id: room.room.message_ids.last).message %>
    </div>
  <% end %>
  </div>