<h2 class="text-center m-5">メッセージ中のクリエイター</h2>
  <div class ="row">
  <% @anotherEntries.each do |entry| %>
    <div class="col-3 text-center">
      <%= link_to chat_path(entry.room.id) do %>
        <%= attachment_image_tag entry.user, :image, format: 'jpg', size: "45x45", fallback: "no_image.png", class: "rounded-circle" %>
        <%= entry.user.name %><br>
      <% end %>
      <% if Message.find_by(id: entry.room.message_ids).nil? %>
        メッセージはまだありません
      <% else %>
        <%= Message.find_by(id: entry.room.message_ids.last).message %>
      <% end %>
    </div>
  <% end %>
  </div>