<div class="row">
  <% @popular.each.with_index(1) do |post, i| %>
    <div class="col-4">
      <p>
        第<%= i %>位
        <%= link_to post_path(post.id), remote: true do %>
        <% post.title %>
        <% end %>
      <p>
        <%= post.product.truncate(20)  %>
      </p>
      <p>
        <%= post.skill  %>
      </p>
    </div>
  <% end %>
</div>