      <div class="post-content">
        <%= render 'posts/content', post: @post %>
      </div>

    <hr>

      <div id="comment-form-<%= post.id %>">
        <%= render 'comments/comment', post: @post, comment: @comment, user: @user %>
      </div>