    <div class="row">

      <div class="col-6 post-content">
        <%= render 'posts/content', post: @post %>
      </div>

      <div class="col-6 post-comment">
        <div id="comment-form-<%= post.id %>">
          <%= render 'comments/comment', post: @post, comment: @comment, user: @user %>
        </div>
      </div>
    </div>