<div class="container">
  <div class="row mt-5">
    <div class="col">
      <h4 class="text-center" style="width:150px">作品詳細</h4>

      <div class="post_column">
        <%= render "posts/post_column", post: @post, comment: @comment, user: @user %>
      </div>


    </div>
  </div>