/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 header {
  background: white;
  width: 100%;
  height: 130px;
  position: fixed;
  top: 0;
  z-index: 10;
  font-family: 'Bradley Hand',sans-serif;
}

 .logo-img {
  height: 120px;
  width: 220px;
  text-align: center;
}

.main {
  padding-top: 170px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Yu Gothic';
}

hr{
  background-color:gray;
  height:1px;
}

 .box1{
  border: 4px solid #82636b;
  border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
  margin: 2em 0;
  padding: 2em;
  background-image: image-url("board.jpg");
  color: whitesmoke;
  font-size: 25px;
  text-shadow:1px 0 5px black;
  font-weight: 900;
 }

 table{
  white-space: nowrap;
}
// kaminariのページネーションを中央寄せ
.pagination {
  justify-content: center;
}

.board_show{
  background-image: image-url("board.jpg");
  color: whitesmoke;
  font-size: 25px;
  text-shadow:1px 0 5px black;
  font-weight: 900;
}

.board_font{
  font-family: monospace;
  font-size: 30px;
}

// エラーメッセージ
.alert{
  color:#262626;
  background:#FFEBE8;
  text-align: center;
  border:2px solid #990000;
  padding:12px; font-weight:850;
  }

.notice {
  color:#262626;
  background:#ffebe800;
  text-align: center;
  border: 2px solid #2196F3;
  padding:12px; font-weight:850;
  }

.error{
  color:#262626;
  background:#FFEBE8;
  text-align: center;
  }
    // フッター
footer {
  width: 100%;
  height: 150px;
  background: rgba(232, 228, 220, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px dashed #ffb300;
  margin-top: 50px;
  }