/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import "jTinder";
 @import "matching";
 @import "chat";



 body {
  font-family: 'Yusei Magic', sans-serif;
  padding-top: 170px;
  margin-right: auto;
  margin-left: auto;
  background-color: whitesmoke;
  width: 100%;
}

span {
  display: inline-block;
  margin-left: 20px;
}


 header {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 10;
}
//＿＿＿＿ここまでheader＿＿＿＿＿


.btn-nav2 {
  color: #fff;
  background-color: #3399FF;
  border-bottom: 5px solid #3366CC;
}
.btn-nav2:hover {
  margin-top: 3px;
  color: #fff;
  background: #33CCFF;
  border-bottom: 2px solid #3366CC;
}

//ここまでボタン

hr{
  background-color:gray;
  height:1px;
}

.board_show{
  color: black;
}


//--------ここからメッセージ関連

.alert{
  color:#262626;
  background:#FFEBE8;
  text-align: center;
  border:2px solid #990000;
  padding:12px; font-weight:850;
  }

.notice {
  color:#262626;
  background:#ffebe800;
  text-align: center;
  border: 2px solid #2196F3;
  padding:12px; font-weight:850;
  }

.error{
  color:#262626;
  background:#FFEBE8;
  text-align: center;
  }

//-------ここまでメッセージ関連

//------ここからboard


.boards{
 position: relative;
 border: 3px solid #82636b;
 border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
 margin: 2em 0;
 padding: 2em;
 color: black;
 font-size: 20px;
 background-color: #fff;
 width: 25%;
 margin-left: 5px;
}
.boards::before {
 position: absolute;
 content: '';
 top: -15px;
 right: 10px;
 height: 55px;
 width: 15px;
 border: 3px solid #555555; /*クリップ色 */
 background-color: none;
 border-radius: 12px;
 box-shadow: 1px 1px 2px #999;
 transform: rotate(10deg);
 z-index: 1;
}
.boards::after {
 position: absolute;
 content: '';
 top: 0px;
 width: 10px;
 right: 20px;
 border: solid 5px #fff; /*背景色と同じ色にする*/
 z-index: 2;
}


.board_content{
  text-align: center;
}

//------ここまでboard関係

.frame {
 position:relative;
 padding: 35px 20px 15px;
 margin: 2.5em auto;
 width: 70% ;
 color: #555555; /* 文字色 */
 background-color: #e8ddbd;
 box-shadow: inset 0 0 40px rgba(204, 186, 136,1), 0 2px 2px #ccc;
 margin-left: auto ;
 text-align: center;
}
.title-frame {
 position: absolute;
 top: -15px;
 left: 30px;
 padding: 4px 20px;
 color: #555555; /*タイトル色*/
 font-weight: bold;
 background-color: rgba(255,255,255,.4);
 border-left: 2px dotted rgba(0,0,0,.1);
 border-right: 2px dotted rgba(0,0,0,.1);
 box-shadow: 0 0 5px rgba(0,0,0,0.2);
 transform: rotate(-5deg);
}

.pagination {
  justify-content: center;
}

// ページネーションのCSS
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}
//---ここまでページネーション

.fa-smile{
  font-size: 100px; /*1.5倍にする*/
}

//----プロフィールアイコン


//----アイコンにカーソルを合わせると文字が浮き出る
.mouse {
  margin: 30px 0px 0px 30px;
  position   : relative;
}

.mouse:hover .word {
  display: inline;
}

.word {
  position   : absolute;
  display: none;
  padding: 2px;
  color: aliceblue;
  border-radius: 5px;
  background-color: #339933;
  width:100px;
  top: 30px;
  right: 3px;
  font-size: 12px;
  text-align: center;
}

//-----マウスのカーソルを合わせると文字が浮きでる

.no_text{
  text-align: center;
  margin: 50px 0;
}

.like-btn {
 width: 25px;
 height: 30px;
 font-size: 25px;
 color: #FF3366;
 }

.unlike-btn {
 width: 25px;
 height: 30px;
 font-size: 25px;
 color: #FF3366;
 }

.post-content{
  text-align: center;
  overflow: scroll;
  height: 100vh;
}



    // フッター
footer {
  width: 100%;
  height: 100px;
  background: rgba(232, 228, 220, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px dashed #ffb300
  }


  //About
.fa-arrow-circle-right {
  z-index: 100;
  font-size: 100px;
  position: absolute; /* .headerの左上を基準に絶対位置で指定する */
  top: 140px;
  right: -100px;
  color: #3399FF;
 }

.fa-arrow-circle-left {
  z-index: 100;
  font-size: 100px;
  position: absolute; /* .headerの左上を基準に絶対位置で指定する */
  top: 140px;
  left: -100px;
  color: #3399FF;
 }

 .top-button{
  text-align: center;
  margin: 50px;
 }


/*.kakomi-tape {
 text-align: center;
 position: relative;
 border: 3px solid #82636b;
 border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
 margin: 2em 0;
 padding: 2em;
 color: black;
 font-size: 20px;
 background-color: #fff;
 width: 30%;
 margin-left: 5px;
}
.kakomi-tape::before {
 display: block;
 position: absolute;
 content: "";
 width: 140px;
 height: 35px;
 left: 35%;
 top: -16px;
 background-color: rgba(204, 210, 180,0.3);
 background-color: rgba(255,255,255,.4);
 box-shadow: 0 0 3px rgba(0,0,0,0.1);
 transform: rotate( -3deg );
}*/
.top-memo{
 text-align: center;
 display: flex;
 flex-wrap: wrap;
}

.memox{
  position:relative;
  background:white;
  width: 30%;
  margin:2em 0;
  padding:1.5em 1em;
  transform: rotate(-2deg);
  box-shadow:1px 1px 4px rgba(0,0,0,0.2);
  color:#795548;
  margin-left: 20px;
}
.memox::before{
  position:relative;
  display:inline-block;
  border-bottom:3px solid #795548;
  border-radius: 0 0 40% 5% / 0 0 15% 20%;
  padding:0 1em 0.1em 0.2em;
  font-weight:bold;
  transform: rotate(-5deg);
}
.memox::after{
  content:'';
  position:absolute;
  left:50%;
  top:-15px;
  margin-left:-75px;
  width:100px;
  height:30px;
  background:rgba(245,245,245,0.7);
  box-shadow:1px 1px 4px rgba(0,0,0,0.2);
  transform: rotate(-4deg);
}
.memox p{
  margin-bottom:0.5em;
}




.skills {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;

}

.skills .skill-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: whitesmoke;
    color: #95ccff;
    font-weight: bold;
}

.skill-title:first-letter {
  font-size: 150%;
  color: #FF8856;
}

.skills p {
    margin: 10px;
    padding: 10px;
}