/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';


 body {
  font-family: 'Yusei Magic', sans-serif;
 }

.main {
  padding-top: 170px;
  margin-right: auto;
  margin-left: auto;
  background-color: whitesmoke;
  width: 100%;
}


 header {
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 10;
}
//＿＿＿＿ここまでheader＿＿＿＿＿



.btn-nav {
  border: 2px solid #000;
  border-radius: 30px;
  background: #9ACD32;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
  margin-left: 20px;
 }

.btn-nav:hover {
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: -4px -4px 0 #000;
 }


.btn-nav2 {
  border: 2px solid #000;
  border-radius: 30px;
  background: #00BFFF;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
  margin-left: 20px;
 }

.btn-nav2:hover {
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: -4px -4px 0 #000;;
 }

 .btn-nav3 {
  border: 2px solid #000;
  border-radius: 30px;
  background: #DC143C;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
  margin-left: 20px;
 }

.btn-nav3:hover {
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: -4px -4px 0 #000;;
 }

.btn-nav4 {
  border: 2px solid #000;
  border-radius: 30px;
  background: #228B22;
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: 4px 4px 0 #000;
  margin-left: 20px;
 }

.btn-nav4:hover {
  -webkit-box-shadow: 4px 4px 0 #000;
  box-shadow: -4px -4px 0 #000;;
 }

 .btn-nav5 {
   background-color: #00FFFF;
   transition: background-color 0.5s, border-radius 1s;
   color: whitesmoke;
 }

.btn-nav5:hover {
   background-color: #AA0000;
    border-radius: 20px;
    transition: background-color 1s, border-radius 2s;
 }

 .btn-nav6 {
   background-color: #AA0000;
   border-radius: 20px;
   transition: background-color 0.5s, border-radius 1s;
 }

.btn-nav6:hover {
    background-color: #00FFFF;
     border-radius: 0;
   transition: background-color 1s, border-radius 2s;
 }

//ここまでボタン



hr{
  background-color:gray;
  height:1px;
}

.board_show{
  color: black;
}

//--------ここからメッセージ関連

.alert{
  color:#262626;
  background:#FFEBE8;
  text-align: center;
  border:2px solid #990000;
  padding:12px; font-weight:850;
  }

.notice {
  color:#262626;
  background:#ffebe800;
  text-align: center;
  border: 2px solid #2196F3;
  padding:12px; font-weight:850;
  }

.error{
  color:#262626;
  background:#FFEBE8;
  text-align: center;
  }

//-------ここまでメッセージ関連

//------ここからboard

.top_board{
  display: flex;
}

.boards{
  border: 3px solid #82636b;
  border-radius: 240px 15px 185px 15px / 15px 200px 15px 185px;
  margin: 2em 0;
  padding: 2em;
  color: black;
  font-size: 20px;
  background-color: whitesmoke;
  width: 75%;
}

.board_content{
  text-align: center;
}

//------ここまでboard関係


.pagination {
  justify-content: center;
}

// ページネーションのCSS
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;     /*背景の色を変える*/
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;    /*角を丸くする*/
}
//---ここまでページネーション

.fa-smile{
  font-size: 100px; /*1.5倍にする*/
}

//----プロフィールアイコン


//----アイコンにカーソルを合わせると文字が浮き出る
.mouse {
  margin: 30px 0px 0px 30px;
  position   : relative;
}

.mouse:hover .word {
  display: inline;
}

.word {
  position   : absolute;
  display: none;
  padding: 2px;
  color: aliceblue;
  border-radius: 5px;
  background-color: #339933;
  width:100px;
  top: 50px;
  left: 0px;
  font-size: 12px;
  text-align: center;
}

//-----マウスのカーソルを合わせると文字が浮きでる

.no_text{
  text-align: center;
  margin: 50px 0;
}

    // フッター
footer {
  width: 100%;
  height: 100px;
  background: rgba(232, 228, 220, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px dashed #ffb300
  }