<% if model.errors.any? %>
	  <div class = "error">
	       <% model.errors.full_messages_for(attribute).each do |message| %>
	            <li style="list-style: none;"><%= message %></li>
      <% end %>
	    </div>
<% end %>