<header>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand text-dark" href="/">創索-sousaku-</a>
      <% if user_signed_in? %>
      <%= link_to 'プロフィール変更', edit_user_registration_path %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      <% else %>
      <%= link_to 'サインアップ', new_user_registration_path %>
      <%= link_to 'ログイン', new_user_session_path %>
      <% end %>
    </div>
  </nav>
</header>